In [2]:
import pandas as pd

file_p2 = pd.read_csv('contagem_anitapolis_v0p2p2.csv')
file_p5 = pd.read_csv('contagem_anitapolis_v0p2p5.csv')

df = pd.merge(
    file_p2,
    file_p5,
    left_on='osm_id',
    right_on='osm_id'
)

df

,Unnamed: 0_x,osm_id,datetime_x,vehicle_count_x,Unnamed: 0_y,datetime_y,traffic_level,vehicle_count_y
0,0,2.098816e+08,2025-05-28 00:00:00,NaN,0,2025-05-28 00:00:00,31.0,0.0
1,0,2.098816e+08,2025-05-28 00:00:00,NaN,1,2025-05-28 01:00:00,31.0,0.0
2,0,2.098816e+08,2025-05-28 00:00:00,NaN,2,2025-05-28 02:00:00,31.0,0.0
3,0,2.098816e+08,2025-05-28 00:00:00,NaN,3,2025-05-28 03:00:00,31.0,0.0
4,0,2.098816e+08,2025-05-28 00:00:00,NaN,4,2025-05-28 04:00:00,31.0,0.0
...,...,...,...,...,...,...,...,...
15440687,23901,1.147319e+09,2025-06-23 23:00:00,0.0,23897,2025-06-23 19:00:00,55.0,0.0
15440688,23901,1.147319e+09,2025-06-23 23:00:00,0.0,23898,2025-06-23 20:00:00,55.0,0.0
15440689,23901,1.147319e+09,2025-06-23 23:00:00,0.0,23899,2025-06-23 21:00:00,55.0,0.0
15440690,23901,1.147319e+09,2025-06-23 23:00:00,0.0,23900,2025-06-23 22:00:00,55.0,0.0
15440691,23901,1.147319e+09,2025-06-23 23:00:00,0.0,23901,2025-06-23 23:00:00,55.0,0.0

In [3]:
df.loc[:, 'is_equal'] = df.vehicle_count_x == df.vehicle_count_y

In [6]:
df.loc[~df.is_equal].to_csv('count_vehicle_methods_comparasion.csv')