In [2]:
import geopandas as gpd
import pandas as pd

In [42]:
csv = pd.read_csv('./inputs/fln_road_lengths.csv')
csv.head()

       osm_id  slice_length
0  10492722.0    711.024111
1  10492725.0     11.980351
2  10492763.0    316.093463
3  10492764.0    217.279242
4  10594905.0    309.812647

In [77]:
flp = pd.read_csv('./inputs/vehicle_count_df_weekly_final_floripa_2025-05-28_2025-06-28.csv')
flp

,Unnamed: 0,osm_id,weekday,hour,vehicle_count,vehicle_count_max,vehicle_count_min
0,0,1.049272e+07,0,0,NaN,-inf,inf
1,1,1.049272e+07,0,1,NaN,-inf,inf
2,2,1.049272e+07,0,2,NaN,-inf,inf
3,3,1.049272e+07,0,3,NaN,-inf,inf
4,4,1.049272e+07,0,4,NaN,-inf,inf
...,...,...,...,...,...,...,...
780260,780260,1.376095e+09,6,19,775.884178,1086.270489,465.497866
780261,780261,1.376095e+09,6,20,302.504701,465.497866,136.770332
780262,780262,1.376095e+09,6,21,79.231264,147.010724,11.226793
780263,780263,1.376095e+09,6,22,6.206595,12.067375,0.339020
780264,780264,1.376095e+09,6,23,0.184122,0.364403,0.003766

In [45]:
flp = pd.read_csv('./inputs/vehicle_count_df_weekly_final_floripa_2025-05-28_2025-06-28.csv')
flp = flp.merge(csv, on='osm_id' , how = 'left')
flp = flp.groupby(['osm_id', 'weekday']).sum()
flp

KeyError: 'weekday'

In [78]:
flp = flp.groupby(['osm_id','weekday']).mean()
flp

                      Unnamed: 0  hour  vehicle_count  vehicle_count_max  \
osm_id       weekday
1.049272e+07 0              11.5  11.5            NaN               -inf
             1              35.5  11.5            NaN               -inf
             2              59.5  11.5            NaN               -inf
             3              83.5  11.5            NaN               -inf
             4             107.5  11.5            NaN               -inf
...                          ...   ...            ...                ...
1.376095e+09 2          780156.5  11.5     289.510957         480.923336
             3          780180.5  11.5     308.580170         574.443282
             4          780204.5  11.5     291.608891         614.378802
             5          780228.5  11.5      67.178043         254.830251
             6          780252.5  11.5      95.846621         140.921363

                      vehicle_count_min
osm_id       weekday
1.049272e+07 0                      inf
             1                      inf
             2                      inf
             3                      inf
             4                      inf
...                                 ...
1.376095e+09 2             1.280279e+02
             3             1.126535e-54
             4             1.179929e+01
             5             7.752407e-21
             6             5.161593e+01

[32515 rows x 5 columns]

In [79]:
flp = flp.groupby(['osm_id',]).mean()
flp

,Unnamed: 0,hour,vehicle_count,vehicle_count_max,vehicle_count_min
osm_id,,,,,
1.049272e+07,83.5,11.5,NaN,-inf,inf
1.049272e+07,251.5,11.5,693.983667,1469.971659,166.663220
1.049276e+07,419.5,11.5,1585.581704,2724.765247,586.215902
1.049276e+07,587.5,11.5,1890.740812,3049.100132,627.990048
1.059490e+07,755.5,11.5,241.566992,841.634490,0.000000
...,...,...,...,...,...
1.369665e+09,779536.5,11.5,334.283326,550.708130,78.052234
1.371658e+09,779680.5,10.6,469.745078,469.745078,469.745078
1.371658e+09,779844.5,11.5,86.821949,235.627352,0.000000
1.371658e+09,780012.5,11.5,548.659726,1235.006228,4.080604
1.376095e+09,780180.5,11.5,247.742850,456.052340,77.324797

In [80]:
flp = flp.merge(csv, on='osm_id' , how = 'left')
flp[]

,osm_id,Unnamed: 0,hour,vehicle_count,vehicle_count_max,vehicle_count_min,slice_length
0,1.049272e+07,83.5,11.5,NaN,-inf,inf,711.024111
1,1.049272e+07,251.5,11.5,693.983667,1469.971659,166.663220,11.980351
2,1.049276e+07,419.5,11.5,1585.581704,2724.765247,586.215902,316.093463
3,1.049276e+07,587.5,11.5,1890.740812,3049.100132,627.990048,217.279242
4,1.059490e+07,755.5,11.5,241.566992,841.634490,0.000000,309.812647
...,...,...,...,...,...,...,...
4640,1.369665e+09,779536.5,11.5,334.283326,550.708130,78.052234,10.042187
4641,1.371658e+09,779680.5,10.6,469.745078,469.745078,469.745078,106.901327
4642,1.371658e+09,779844.5,11.5,86.821949,235.627352,0.000000,109.640867
4643,1.371658e+09,780012.5,11.5,548.659726,1235.006228,4.080604,98.399281
4644,1.376095e+09,780180.5,11.5,247.742850,456.052340,77.324797,11.708807

In [89]:
flp['vkt_ano'] = flp['vehicle_count'] * flp['slice_length']*365/1000

In [91]:
flp['vkt_ano'].sum() * 5500

np.float64(991372908676.683)